@import "root.css";
.cadastro{
    position: absolute;
    width: 800px;
    height:100%;
    left: 0px;
    top: 0px;
    background: #273526;
    font-family: 'Inter', sans-serif;
}

.text1{
    padding-top: 40%;
    justify-content: center;
    display: flex;
    color: #FFFFFF;
}

.text2{
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 100;
    padding-top: 10px;
    color: #FFFFFF;
}

.butao{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 300px;
}
