@import "root.css";
.cadastro-wrapper{
    display: grid;
    grid-template-columns: 3fr 5fr;
    background: #273526;
    height: 100vh;


}
.coluna1{
    display: grid;
    justify-content: center;

    grid-column: 1;
    grid-row: 1;
    
}
.coluna2{
    background-color: #FFFFFF;
    display: flex;

}

.text1, .text2{
    max-width: 350px;
    text-align: center;
    color: #FFFFFF;
}


