@import "root.css";

#textocheckout{
    padding: 20px;
    display: flex;
    justify-content: center;
    color: 092844;
}
.checkout{
    margin-top: 60px;
    width: 1364px;
    height: 590px;
    left: 278px;
    top: 190px;
    mix-blend-mode: normal;
    background: linear-gradient(287.12deg, #273526 10.09%, #729B6F 100%);
    border-radius: 20px;
}

.formulario{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap:25px;
    padding-left: 50px;
}

.tabela{
    margin: 0px;
    border: none;
    width: 400px;
    height: 45px;
    padding-left: 30px;
    border-radius: 10px;
}

.infocheckout{
    text-align: justify;
    width: 700px;
    padding: 40px 50px;
}

.linha{
    display: flex;

    justify-content: space-between;
    width: 400px;
}

#pequena{
    width: 180px;
}