
@import "root.css";
header {
    position: sticky;
    font-family: 'Inter', sans-serif;
    inset: 0 0 auto 0;
    z-index: 10;
    box-shadow: var(--shandow-color);
    background-color: var(--bg-primary-color);
    max-height: 50px;
}

header .banner {
    display: block;
    background-color: var(--bg-primary-color);
    text-align: center;
    padding: 1rem 2rem;
    color: var(--light-color);
    text-decoration: none;
}

header .banner:hover {
    opacity: 0.8;
}

header .logo img {
    width: 30px;
    height: auto;
}

header .area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    margin-bottom: 10px;
}

header .menu-opener {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

header .hamburger-icon {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

header .hamburger-icon span {
    display: block;
    width: 25px;
    height: 5px;
    background-color: var(--light-color);
}

header .close-icon {
    display: none;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

header .close-icon span {
    position: absolute;
    display: block;
    width: 25px;
    height: 5px;
    background-color: var(--light-color);
}

header .close-icon span:first-child {
    transform: rotate(45deg);
}

header .close-icon span:last-child {
    transform: rotate(-45deg);
}

header nav {
    overflow-y: hidden;
    max-height: 0;
    transition: all ease 0.5s;
}

header nav.opened {
    max-height: 100vh;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    padding: 0px 10px 20px 0px;
    gap: 10px;
    display: flex;
    flex-direction: column; 
    background-color: var(--bg-primary-color);
    opacity: 90%;
    border-radius: 0px 0px 30px 20px;
    
}

header nav ul li {
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
    margin-right: 10px;
    height: 35px;
    display: flex;
    align-items: center;
}
header nav ul li:hover{
    background-color: var(--bg-secondary-color);
}
header nav ul .header-button{
    background-color: var(--bg-secondary-color);
    height: 32.5px;
}
header nav a {
    display: flex; 
    align-items: center;
    color: var(--light-color);
    text-decoration: none;
    outline: none; 
    background: none; 
    border: none; 
}

header nav a img {
    width: 20px;
    height: 35px;
    display: flex;
    align-items: center;    
    margin-right: 5px; 
}

header nav a:hover {
    opacity: 0.8;
}

header nav a.bold {
    font-weight: bold;
}
header .header-button{
    padding: 0px 10px 0px 10px;
    height: 30px;
    background-color: var(--light-color);
    border-radius: 5px;
    width: 150px;
}
header .header-button:hover{
    cursor: pointer;
    background-color: var(--bg-primary-accent-color);
}

@media (min-width: 800px) {
    header .menu-opener {
        display: none;
        background-color: var(--bg-primary-color);
        
    }

    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav {
        max-height: 300px
    }

    header nav ul {
        flex-direction: row; 
        padding-bottom: 0;
    }

    header nav li {
        padding: 0 1rem; 
    }
}
