@import "root.css";

body {
    margin: 0;
    padding: 0;
}

/* Configuração do Container de Colunas */
.container {
    display: grid;
    /* grid-template-columns: repeat(12, 1fr); /* Define um grid com 12 colunas */
    gap: 20px;
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

/* Classes para as colunas */
.col-1  { grid-column: span 1; }
.col-2  { grid-column: span 2; }
.col-3  { grid-column: span 3; }
.col-4  { grid-column: span 4; }
.col-5  { grid-column: span 5; }
.col-6  { grid-column: span 6; }
.col-7  { grid-column: span 7; }
.col-8  { grid-column: span 8; }
.col-9  { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-11 { grid-column: span 11; }
.col-12 { grid-column: span 12; }

/* Remove o grid-template-columns da .row */
.row {
    display: contents; /* Usa o grid definido no container */
}

