/* Reset de margem e padding do body */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Configuração do Container de Colunas */
.container {
    width: 100%;          
    max-width: 1200px;  
    margin: 0 auto;     
    box-sizing: border-box;
}

/* Responsividade */
@media (max-width: 500px) {
    .container {
        display: block;
        padding: 10px;
    }
}

/* Outras classes específicas, por exemplo, para imagens */
.images {
    width: 100%;            /* Garante que as imagens não ultrapassem o container */
    height: auto;           /* Mantém a proporção da imagem */
}

/* Títulos e subtítulos */
.page-title {
    text-align: center;
    font-size: 2em;
}

.page-subtitle {
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
}
