/* Reset de margem e padding do body */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Configuração do Container de Colunas */
header .container{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.container {
    font-family: 'Inter', sans-serif;
    width: 100%;          
    max-width: 1200px;  
    margin: 0 auto;     
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

/* Outras classes específicas, por exemplo, para imagens */
img {
    width: 100%;           
    height: 100%;
    border-radius: 20px;          
}

/* Títulos e subtítulos */
.page-title {
    text-align: center;
    font-size: 2em;
}

.page-subtitle {
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
}
