@import "root.css";
body{
    padding-bottom: 0px;
}
.login-wrapper{
    display: grid;
    grid-template-columns: 5fr 3fr;
    background: #273526;
    min-height: 100vh;
    height: 100%;
}
.coluna1{
    display: grid;
    justify-content: center;
    padding: 20px;
}
.coluna1 button{
    background-color: var(--bg-primary-color);
    border: 2px solid var(--bg-primary-accent-color);
}
.coluna2{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px; 
}
.coluna2 h2{
    color: var(--bg-tertiary-color);
    font-weight: var(--weight-bold);
    margin-top: 30px;
    margin-bottom: 15px;
}
.login-wrapper button{
    width: 100%;
    margin-bottom: 30px;
}
.login button:hover, .google:hover{
    background-color: var(--bg-primary-accent-color);
}
.coluna2 .alert{
    margin: 5px 10px 0px 10px;
    font-size: 0.65rem;
    color: var(--bg-suplementary-color);
}
.text1, .text2{
    max-width: 280px;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
}
.text1{
    margin-top: 100px;
    margin-bottom: 30px;
}
.text2{
    margin-bottom: 30px;
}
.login{
    display: block;
    margin: 0 auto;
}

.form-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

.input-box {
    grid-column: span 2; 
    position: relative;
}
.input-box :nth-child(2){
    position: absolute;
    right: 0; 
    top: 48px;  

}
.login-wrapper select {
    border-radius: 15px;
    width: 100%;
    max-height: 50px;
    padding: 15px 20px;
    border: 2px solid var(--bg-primary-accent-color);
    box-sizing: border-box;
    color: var(--ft-secondary-color); 
    appearance: none;
    cursor: pointer;
}

.login-wrapper select::-ms-expand {
    display: none;
}

.login-wrapper select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23273526' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 30px;
}

.input-box:nth-of-type(5),
.input-box:nth-of-type(6){
    grid-column: span 1; 
}
.form-wrapper .btn-submit{
    grid-column: span 2;
}
.login-wrapper input, 
.login-wrapper select{
    border-radius: 15px;
    width: 100%; 
    max-height: 50px;
    padding: 15px 20px; 
    border: 1px solid var(--bg-primary-accent-color);
    box-sizing: border-box;
    color: var(--ft-secondary-color); 
    box-shadow: var(--shandow-color);
}   
.login-wrapper input::placeholder{
    color: var(--ft-secondary-color);
}
.google {
    margin-top: 30px;
    max-width: 200px;
    width: 200%;
    border: 1px solid var(--bg-primary-accent-color);
    background-color: #FFFFFF;
    background-image: url("../../elements/icons/google.svg");
    background-repeat: no-repeat; 
    background-position: center left;
    padding-left: 50px; 
    color: var(--bg-secondary-color);
    font-weight: bold;
    font-size: 1rem;
    border-radius: 25px;
}

@media(max-width: 750px){
    .login-wrapper{
        display: block;
        background-color: white;
    }
    .coluna1 h1{
        margin-top: 0px;
    }
    .coluna1 .text1, .text2{
        color: var(--bg-primary-color);
    }
}

@media(max-width: 350px){
    .form-wrapper{
        display: flex;
        flex-direction: column;
    }
    .coluna2 p{
        margin-top: 30px;
    }
    .input-box {
        grid-column: span 2; 
        position: sticky;
        display: flex;
        flex-direction: column;
    }
    .input-box :nth-child(2){
        position: absolute;
        right: 0; 
        top: 48px;  
    
    }
}
