@import "root.css";

/* Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body-new-password {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container-new-password {
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Caixa */
.box-new-password {
    background-color: var(--bg-primary-color);
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    max-width: 500px;
    text-align: center;
    color: white;
    box-shadow: var(--shadow-color);
}

.form-group-new-password {
    margin-bottom: 1rem;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #ffffff;
}

input {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

input::placeholder {
    color: #cccccc;
}

/* Botões */
.btn-confirm-new-password {
    background-color: var(--bg-primary-accent-color);
    border: none;
    color: white;
    margin-top: 1rem;
    padding: 0.8rem;
    border-radius: 5px;
    width: 100%;
}

.btn-confirm-new-password:hover {
    background-color: darken(var(--bg-primary-accent-color), 10%);
}

.button-login-new-password {
    text-decoration: none;
    color: var(--bg-primary-color);
}

.button-login-new-password:hover {
    background-color: darken(var(--bg-primary-accent-color), 10%);
}

/* Mensagens */
.error-new-password {
    font-size: 0.9rem;
    color: #ff0000;
}

.success-new-password {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--bg-confirmation-color);
}

/* Botões no Topo à Esquerda */
.top-buttons-new-password {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-new-password {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
    .container-new-password {
        padding: 0.5rem;
    }

    .box-new-password {
        padding: 1.5rem;
    }

    .btn-confirm-new-password {
        padding: 0.6rem;
        font-size: 0.9rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    input {
        padding: 0.6rem;
        font-size: 0.9rem;
    }

    label {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .box-new-password {
        padding: 1rem;
    }

    .btn-confirm-new-password {
        padding: 0.5rem;
        font-size: 0.8rem;
    }

    input {
        padding: 0.5rem;
        font-size: 0.8rem;
    }

    label {
        font-size: 0.8rem;
    }
}
