* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: var(--font-secondary);
  font-weight: var(--weight-regular);
  line-height: var(--line-height);
  font-size: var(--h2-16);
  background-color: var(--bg-primary-color);
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Header */
header {
  width: 100%;
  text-align: left;
  margin-bottom: var(--mg-3);
}

.back-button {
  text-decoration: none;
  color: var(--light-color);
  font-size: var(--h2-16);
}

/* Caixa Central */
.box {
  background-color: var(--bg-primary-accent-color);
  border-radius: 15px;
  padding: var(--mg-3);
  width: 100%;
  max-width: 500px;
  text-align: center;
  color: var(--ft-primary-color);
  box-shadow: var(--shandow-color);
}

h2 {
  margin-bottom: var(--mg-2);
  font-size: var(--h1-40);
  font-family: var(--font-primary);
}

.form-group {
  margin-bottom: var(--mg-1);
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--ft-secondary-color);
  font-size: var(--h2-16);
}

input {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  font-size: var(--h2-16);
  margin-bottom: 0.5rem;
  background-color: var(--bg-secondary-color);
  color: var(--light-color);
}

input::placeholder {
  color: var(--ft-secondary-color);
}

.error {
  font-size: var(--h3-12);
  color: var(--green-color);
}

button {
  width: 100%;
  padding: 0.8rem;
  background-color: var(--bg-secondary-color);
  border: none;
  color: var(--light-color);
  font-size: var(--h2-16);
  font-weight: var(--weight-bold);
  cursor: pointer;
  border-radius: 5px;
  margin-top: var(--mg-1);
}

button:hover {
  background-color: var(--bg-suplementary-color);
}

.success-message {
  margin-top: var(--mg-1);
  font-size: var(--h2-16);
  color: var(--green-color);
}

footer {
  margin-top: var(--mg-3);
  text-align: center;
  font-size: var(--h4-10);
  color: var(--ft-secondary-color);
}