/* Reset e configurações básicas */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

/* Container principal */
.recover-con {
  width: 100%;
  max-width: 800px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Botão voltar */
.back-button {
  text-decoration: none;
  color: var(--bg-primary-color);
  font-size: 1.2rem;
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;
}

/* Estilo principal */
main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.box {
  background-color: var(--bg-primary-color);
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
  max-width: 500px;
  text-align: center;
  color: white;
  box-shadow: var(--shandow-color);
}

.box h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

/* Input e mensagens */
.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

input {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.error {
  font-size: 0.9rem;
  color: #ffcccc; /* Vermelho suave */
}

.error a {
  color: var(--bg-secondary-color);
  text-decoration: none;
}

.btn-confirm {
  width: 100%;
  padding: 0.8rem;
  background-color: var(--bg-primary-accent-color);
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
}

.success-message {
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--bg-secondary-color);
}

footer {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.9rem;
  color: #777;
}
