@import "fonts/fonts.css";
/* Variávies root */
:root{
    /*Cores da página*/
    --bg-primary-color: #273526;   
    --bg-primary-accent-color: #3e4e3c;  
    --bg-secondary-color: #6D8777;
    --bg-tertiary-color: #;
    --bg-tertiary-accent-color: #;
    --bg-suplementary-color: #;
    --ft-primary-color: #;
    --ft-secondary-color: #;

    /*Outras cores (texto)*/
    --light-color: #ffffff;
    --dark-color: #000000;
    --green-color: #;
    --shandow-color: 0px 4px 4px rgba(0, 0, 0, 0.1);

    /*Textos*/
    --font-primary: font-family: 'Catamaran', sans-serif;;
    --font-secondary: font-family: 'Assistant', sans-serif;
    --font-tertiary: font-family: 'Yantramanav', sans-serif;

    /*Tamanho textos*/
    --h1-45: 45px;
    --h1-40: 40px;
    --h2-24: 20px;;
    --h2-14: 14px;
    --h3-12: 12px;
    --h4-10: 10px;

    --line-height: 1.2;

    --weight-regular: 400;
    --weight-bold: 700;

    /*margin padrão */
    --mg-1: 15px;
    --mg-2: 30px;
    --mg-3: 60px;
    --mg-4: 90px
}

/* Alguns Estilos do body padrão */
body{
    font-family: var(--font-secondary);
    font-weight: var(--weight-regular);
    line-height: var(--line-height);
    font-size: var(--h2-16);
}

/*#region Cor dos textos*/
.color-black{
    color: var(--dark-color);
}
.color-white{
    color: white;
}
.color-primary{
    color: var(--ft-primary-color)
}
.color-secondary{
    color: var(--bg-tertiary-color)
}
/* #endregion */

/* Estilo padrão dos botôes */
button{
    background-color: var();
    color: var();
    font-size: var();
    font-weight: var();
    padding: 10px 20px 10px 20px;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 15;
}
